<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>475462458673-8v4a9kdpja0t42loprs1k6b50uig7b4n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.475462458673-8v4a9kdpja0t42loprs1k6b50uig7b4n</string>
	<key>API_KEY</key>
	<string>AIzaSyC3PN5rMGL7qc4vdCCYxHGYnlBAZqQTqbs</string>
	<key>GCM_SENDER_ID</key>
	<string>475462458673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ubi.UbiHealth</string>
	<key>PROJECT_ID</key>
	<string>ubihealth-cfa36</string>
	<key>STORAGE_BUCKET</key>
	<string>ubihealth-cfa36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475462458673:ios:651f03902e7366e7</string>
	<key>DATABASE_URL</key>
	<string>https://ubihealth-cfa36.firebaseio.com</string>
</dict>
</plist>